<div class="container center-align">
  <div class="row">
  	<div class="col s12">
		  <div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img src="/assets/images/stock.png">
		      <span class="card-title">Card Title {{headline.title}} | Fake date {{headline.date}}</span>
		    </div>
		    <div class="card-content">
		      <span>I am a very simple card. I am good at containing small bits of information.
		      I am convenient because I require little markup to use effectively. {{headline.content}}
		      </span>
		  <ul class="left-align">
		  	{{#each comment}}
		  		  	<li class="collecion-item">Cool stuffs {{content}}</li>
		  		  	<br>
		  	{{/each}}
		  	<li class="">
		  		<p>Author: Gus</p>
  		  	<p style="padding-left: 5rem">Cool stuffs {{content}}</p>
  		  </li>
  		  <br>
		  	<li class="">
		  		<p>Author: Gus</p>
  		  	<p style="padding-left: 5rem">Cool stuffs {{content}}</p>
  		  </li>
		  	<br>
		  	<li class="">
		  		<p>Author: Gus</p>
  		  	<p style="padding-left: 5rem">Cool stuffs {{content}}</p>
  		  </li>
		  	<br>
		  	<li class="">
		  		<p>Author: Gus</p>
  		  	<p style="padding-left: 5rem">Cool stuffs {{content}}</p>
  		  </li>
		  	<br>

		  </ul>

		    </div>
		  </div>
  	</div>
	</div>

  </div>
</div>
