<div class="col s12">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img src="/assets/images/stock.png">
      <span class="card-title">Card Title {{headline.title}} | Fake date {{headline.date}}</span>
    </div>
    <div class="card-content">
      <span>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. {{headline.content}}
      </span>
      <div class="col right s1">
        <a class="right btn-flat vote waves-effect waves-green upvote" data-id="{{headline.id}}"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
        <a class="right btn-flat vote waves-effect waves-red downvote" data-id="{{headline.id}}"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <span class="center-align valign-wrapper" style="margin-top: 1.5rem" id="score">
          <span id="{{headline.id}}" data-value={{headline.score}}>{{headline.score}}</span>
        </span>

      </div>
      <div class="card-action header-link">
        <a class="" href="#{{headline.comment}}">Comment</a>
      </div>
    </div>
  </div>
</div>

