<div class="col s6">
	<div class="card section">
		<div class="card-image waves-effect waves-block waves-light">
			<img class="" src="https://i.imgur.com/Wm1xcNZ.jpg{{image}}">
		</div>
		<div class="card-content">
			<span class="card-title grey-text text-darken-4">Card Title {{title}} | Fake date {{name}}
				{{!-- <i class="material-icons right">more_vert</i> --}}
			<div class="col right s2">
						<a class="right btn-flat vote waves-effect waves-green upvote" data-id="{{id}}" data-clicked=false><i class="fa fa-angle-up" aria-hidden="true"></i></a>
						<a class="right btn-flat vote waves-effect waves-red downvote" data-id="{{id}}" data-clicked=false><i class="fa fa-angle-down" aria-hidden="true"></i></a>
{{!-- 						<span class="center-align valign-wrapper score" style="margin-top: 1.5rem">
							<span id="{{id}}" data-value=0 class="score valign-wrapper">0{{score}}</span>
						</span>
 --}}			</div>
			</span>

			<ul class="post-list">
				<li >
					<a href="/main-post/{{id}}" >Comments</a>
				</li>
				<li>
					<a class="modal-trigger" href="#modal{{id}}" >Share</a>
					  <!-- Modal Structure -->
				  <div id="modal{{id}}" class="modal">
				    <div class="modal-content">
				      <h4>Shareable link</h4>
				      <p>Share this link with your friends: {{name}}</p>
				    </div>
				    <div class="modal-footer">
				      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
				    </div>
				  </div>

				</li>
				<li>
						<span class="">
							<span id="{{id}}" data-value=0>0{{score}}</span>
						</span>
					
				</li>
			</ul>
		</div>
	</div>

</div>